.App {
  text-align: center;
  font-family: "VK";
}

.nav-link {
  color: rgb(255, 255, 255) !important;
}

.nav-link:hover {
  color: rgb(0, 0, 0) !important;
}

.activeNavLink {
  color: #377ee7 !important;
  text-decoration: none !important;
}

.navbar-toggler-icon{
    background-image: linear-gradient(
      to bottom,
      #376791 0,
      #002649 100%
    ) !important;
    border-radius: 5px;
}

.anav {
  background-image: linear-gradient(
    to right,
    #000000 0,
    rgba(16, 17, 17, 0.918)
  ) !important;
  border-color: white;
}

.bg-container {
  background-image: url("components/static/media/odin.png");
  filter: 4px;
  width: 100;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

.globalfooter {
  background-image: linear-gradient(
    to bottom,
    #376791 0,
    #002649 100%
  ) !important;
}

.cardRow {
  margin: auto;
}

.cardBox {
  margin-top: -300px !important;
  margin-left: 30px;
  width: fit-content;
  height: fit-content;
  position: fixed;
}

.image {
  margin-top: 50px;
}

.image2 {
  margin-top: 20px;
  padding-bottom: 30px;
}

.titrepage {
  padding-top: 160px;
  color: rgb(7, 61, 54);
}

.point_img {
  max-width: 1000px;
  max-height: 600px;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px 50px;
}

.onroad {
  padding-top: 40px;
  margin-bottom: 20px;
}

video {
  border-radius: 50px 15px 30px 5px;
}

h1 {
  padding-top: 100px;
}

.nav-item {
  margin-left: 200px;
  position: center;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  transition: 0, 5s;
}

.home1 {
  position: relative;
  padding: 10px 30px;
  margin: 0 15px;
  background-color: #056875(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 1s;
}

.home1:hover {
  background-color: rgb(28, 117, 219);
  color: rgb(46, 144, 236);
  box-shadow: 0 0 50px rgb(0, 164, 240);
  transition-delay: 0, 5s;
}

.home1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid rgba(8, 197, 211, 0.822);
  border-left: 2px solid rgba(8, 197, 211, 0.822);
  transition: 1s;
  transition-delay: 0, 5;
}

.home1:hover::before {
  width: 100%;
  height: 100%;
  transition-delay: 0, 5;
}

.home1:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid rgba(8, 197, 211, 0.822);
  border-right: 2px solid rgba(8, 197, 211, 0.822);
  transition: 1s;
  transition-delay: 0, 5;
}

.home1:hover::after {
  width: 100%;
  height: 100%;
  transition-delay: 0, 5;
}

.intro1 {
  position: relative;
  padding: 10px 30px;
  margin: 0 15px;
  background-color: #056875(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 1s;
}

.intro1:hover {
  background-color: rgb(28, 117, 219);
  color: rgb(46, 144, 236);
  box-shadow: 0 0 50px rgb(0, 164, 240);
  transition-delay: 0, 5s;
}

.intro1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid rgba(8, 197, 211, 0.822);
  border-left: 2px solid rgba(8, 197, 211, 0.822);
  transition: 1s;
  transition-delay: 0, 5;
}

.intro1:hover::before {
  width: 100%;
  height: 100%;
  transition-delay: 0, 5;
}

.intro1:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid rgba(8, 197, 211, 0.822);
  border-right: 2px solid rgba(8, 197, 211, 0.822);
  transition: 1s;
  transition-delay: 0, 5;
}

.intro1:hover::after {
  width: 100%;
  height: 100%;
  transition-delay: 0, 5;
}

.road1 {
  position: relative;
  padding: 10px 30px;
  margin: 0 15px;
  background-color: #056875(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 1s;
}

.road1:hover {
  background-color: rgb(28, 117, 219);
  color: rgb(46, 144, 236);
  box-shadow: 0 0 50px rgb(0, 164, 240);
  transition-delay: 0, 5s;
}

.road1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid rgba(8, 197, 211, 0.822);
  border-left: 2px solid rgba(8, 197, 211, 0.822);
  transition: 1s;
  transition-delay: 0, 5;
}

.road1:hover::before {
  width: 100%;
  height: 100%;
  transition-delay: 0, 5;
}

.road1:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid rgba(8, 197, 211, 0.822);
  border-right: 2px solid rgba(8, 197, 211, 0.822);
  transition: 1s;
  transition-delay: 0, 5;
}

.road1:hover::after {
  width: 100%;
  height: 100%;
  transition-delay: 0, 5;
}

.roadMapContainer {
  height: 100%;
  padding-bottom: 30px;
}

.roadMapImg {
  border-radius: 10%;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  padding-bottom: 30px;
}

.roadmap {
  position: relative;
  padding: 10px 30px;
  margin: 0 15px;
  background-color: #056875(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 1s;
}

.roadmap:hover {
  background-color: rgb(28, 117, 219);
  color: rgb(46, 144, 236);
  box-shadow: 0 0 50px rgb(0, 164, 240);
  transition-delay: 0, 5s;
}

.team1 {
  position: relative;
  padding: 10px 30px;
  margin: 0 15px;
  background-color: #056875(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  overflow: hidden;
  transition: 1s;
}

.team1:hover {
  background-color: rgb(28, 117, 219);
  color: rgb(46, 144, 236);
  box-shadow: 0 0 50px rgb(0, 164, 240);
  transition-delay: 0, 5s;
}

.team1:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid rgba(8, 197, 211, 0.822);
  border-left: 2px solid rgba(8, 197, 211, 0.822);
  transition: 1s;
  transition-delay: 0, 5;
}

.team1:hover::before {
  width: 100%;
  height: 100%;
  transition-delay: 0, 5;
}

.team1:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid rgba(8, 197, 211, 0.822);
  border-right: 2px solid rgba(8, 197, 211, 0.822);
  transition: 1s;
  transition-delay: 0, 5;
}

.team1:hover::after {
  width: 100%;
  height: 100%;
  transition-delay: 0, 5;
}

.teamCard {
  margin: auto;
  background-color: #353535;
  color: rgb(0, 0, 0);
  max-height: 300px !important;
  max-width: 180px !important;
  margin-top: 50px;;
  margin-bottom: 50px;
  background-image: linear-gradient(
    to bottom,
    #376791 0,
    #002649 100%
  ) 
}

.cardImg{
  width:178px !important;
  height: 210px !important;
}

.teamContainer{
 
  padding-bottom: 50px;
}

.badge{
  background-image: linear-gradient(
    to bottom,
    #0081f1 0,
    #031f3a 100%
  );
}

h3{
  padding-top: 30px;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 40px;
  background-image: linear-gradient(
    to bottom,
    #2278c4 0,
    #002649 100%
  );
  color: rgb(0, 35, 99);
  cursor: pointer;
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 10px rgb(0, 0, 0);
}


.aTitle{
  padding-top: 120px;
  margin-bottom: -40px;
}

.back-to-top:hover {
  background: rgb(0, 58, 112);
}

.logo-item{
  text-decoration: none;
  color: white;
}

.logoVK{
  max-width: 400px;
  max-height: 500px;
  width: 30%;
  height: 50%;
  position:-webkit-sticky;
}

.miniLogo{
  max-width: 50px;
  max-height: 50px;
}

a{
  text-decoration: none !important;
}