.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.anav{
  background-color: #5a5a5a;
}

.nav-link{
  color: aliceblue !important;
}

.nav-link:hover{
  color: rgb(0, 0, 0) !important;
}

.teamCard{
  background-color: #353535 !Important;
  color: white;
  max-height: 300px !important;
  max-width: 180px !important;
}